body {
  background-color: #fff0f5;
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: Monaco;
  color: #b0c4de;
  text-transform: uppercase;
}
ul {
  font-family: Monaco;
  color: #b0c4de;
}
h2 {
  font-family: Monaco;
  color: #d8bfd8;
}
ol {
  font-family: Monaco;
  color: #b0c4de;
}
h3 {
  font-family: "Serif";
  color: #4682b4;
}
p {
  font-family: Monaco;
  color: #ffb6c1;
}
p {
  margin: 70px;
}
img2 {
  border-radius: 50%;
  align-self: center;
}
